html { 
  background: url(https://w0.peakpx.com/wallpaper/146/494/HD-wallpaper-fnf-week-4-bg-friday-night-funkin-phone.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
