html { 
  background: url(https://www.google.com/url?sa=i&url=https%3A%2F%2Fa-bizarre-day-roblox.fandom.com%2Ff%2Fp%2F4400000000000573928&psig=AOvVaw0CZKctgztsz4UrS2Qnm1iY&ust=1644380044248000&source=images&cd=vfe&ved=0CAsQjRxqFwoTCICqvpSf7_UCFQAAAAAdAAAAABAD) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
